html {
    font-family: 'Times New Roman';
}

body{
	 background-color: #272727;
	 color: #ccc;

}

#menu {
    list-style-type:none;
    margin:0;
    padding:0;
    /*overflow: hidden;*/
    position: fixed;
    top:0;
    width: 100%;
    background-color: #333;
    left:0;
    height: 50px;
}

#menu  li{
   float: left;
   margin-left: 8px;
   padding: 8px;
}
#menu li:hover{
    background-color: rgba(0,0,0,0.2);
    border-radius:  8px 8px 0px 0px;
    margin-top: 2px;
    cursor: pointer;
    height:32px;
}
#menu li a{
    display: block;
    color:white;
    text-align:center;
    padding: 8px;
    text-decoration: none;

}

.active {
    background-color: #ab2a3e;
    opacity:0.8;
}
#desplegable{
    text-decoration: none;
    border: none;
    background: none;
    margin-top: 3px;
    padding: 2px;
}

#right{
    float: right;
    margin-right: 8px;
}
li#mode:hover {
    background-color: whitesmoke;
    color:black;
    border-radius: 8px;

}
li#mode:hover a{
    color:black;
}

/*menu desplegable*/
/*-------------------------------------------*/
button#idioma {
     font-family: "Times New Roman";
    color:white ;
    border: none;
    background: none;
    font-size: 1.1em; 
    margin-top: 3px;
}
div#idiomas{
    display:none;
    position: absolute;
    background-color: #190609;
    border-radius: 0px 0px 6px 6px;
}
li#desplegable:hover div#idiomas{
    display:block;
}
li#desplegable:hover #menu{
    overflow: visible;
}
li#desplegable a:hover{
    background-color: #333;
    border-radius: 6px;

}

/*contenido*/
/*-------------------------------------------*/

.contenido{
    margin-top: 80px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: left;
    text-indent:40px;
    background-color:grey 0.5;
    padding: 8px;
     
}

#retrato{
     margin-left: auto;
     margin-right: auto;
     width:40%;
     display:block;
     margin-top: 50px;
     margin-bottom: 50px;
}

.fotografia{
    width: auto;
    height: 600px;
    display:block;
    margin-top: 50px;
    margin-bottom: 50px;
}

a#miGit{
        text-decoration: none;
        background-color: #21211d;
        color: #FFF;
        padding: 10px;
        border-radius: 20px;
        text-decoration: none;
        cursor: pointer;
        margin: 50px;

}
.center {
    text-align: center;
    margin:40px;
}
.footer{
        margin: 40px;
}
.footer p{
    float: left;
}
.footer a{
    float: right;
        text-decoration: none;
        color: #FFF;
        padding: 10px;
        text-decoration: none;
        cursor: pointer;
        margin-left: 8px;
}
.footer a:hover{
    color: #ab2a3e;
}

div.descripcion li{
    list-style-type: none;

}
div.redes a{
        text-decoration: none;
        background-color: #21211d;
        color: #FFF;
        padding: 10px;
        border-radius: 20px;
        text-decoration: none;
        cursor: pointer;
        margin: 50px;
}

embed {
    margin-top: 50px;
    margin-bottom:50px;
    height: 1000px;



}

.contact_text {
    margin-top: 100px;
    text-align: center; 

}

div.redes a:hover{
    color: #ab2a3e;
}
